*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header a{
    text-decoration: none;
    color: black;
    font-size: 1.5vh;
}

.container-header{
    width: 65vw;
    margin: auto;
    font-size: 1.5vh;
}

.container-main{
    width: 60vw;
    margin: auto;
    margin-top: 10vh;
    font-size: 1.5vh;
}

.background-header{
    background-color: rgb(157, 204, 255);
}

.row{
    width: 100%;
    display: flex;
}

.row-border{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row-header{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.row-header2{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.col{
    display: flex;
}

.col-small{
    width: 30%;
    padding-top: 30px;
}

.col-large{
    width: 70%;
    padding-top: 30px;
}

.col-border{
    border: 1px solid gray;
    display: flex;
    width: 30%;
    border-collapse: collapse;
    justify-content: center;
    padding: 10px;
}

.col-border2{
    border: 1px solid gray;
    display: flex;
    width: 30%;
    border-collapse: collapse;
    flex-direction: column;
    padding: 15px;
}

.content-header{
    padding: 20px;
    display: flex;
    align-items: center;
}

.content-header2{
    display: flex;
    width: 65%;
    margin: auto;
    justify-content: center;
}

.content-header3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-header4{
    display: flex;
    justify-content: flex-start;
}

.content-header a{
    padding: 0px 10px 0px 10px;
}

.content-header2 h1{
    font-size: 7vh;
    padding-top: 5vh;
}

.content-header4 img{
    max-height: 40vh;
    position: absolute;
    left: 100;
    top: 20;
}

.invia{
    background-color: rgb(94, 94, 252);
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 1.5vh;
}

.free-trial{
    background-color: rgb(63, 107, 253);
    padding: 7px;
    margin: 30px 0 30px 0;
    max-width: fit-content;
    color: white;
}

.separator{
    color: rgb(170, 169, 169);
    width: 5vw;
    margin: 40px 0px 40px 0px
}

.paddingbottom30{
    padding-bottom: 30px;
}

.paddingbottom20{
    padding-bottom: 20px;
}

.paddingbottom10{
    padding-bottom: 10px;
}

.paddingexceptleft20{
    padding: 20px 20px 20px 0px;
}

.paddingright2{
    padding-right: 2px;
}

.padding{
    padding: 0.5vw 2vw 0.5vw 2vw;
}

.size40{
    font-size: 40px;
}

.colorblue{
    color: rgb(55, 55, 255);
}

.italic{
    font-style: italic;
    color: gray;
}


